* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.form{
  display: flex;
  gap: 1rem;
}
.search-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.input {
  border-radius: 5px;
  width: 15rem;
  padding: 0.5rem;
  border-color: transparent;
}
.search-btn {
  border-color: transparent;
  border-radius: 5px;
  color: #ffff;
  background-color: #4CAF50;
  padding: 0.5rem;
  cursor: pointer;
}
.weather-cards {
  display: flex;
  gap: 1.5rem;
}
.weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  padding: 1.5rem;
  width: 10rem;
  >p{
    font-weight: bold;
  }
}
